.callback-message {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-second-color);
  opacity: 0;
  transition: 1s;

  &__text {
    text-align: center;
    transform: translateY(100%);
    transition: 0.75s;
  }

  &--error {
    color: var(--error-message);
  }

  &--visible {
    z-index: 200;
    opacity: 1;

    .callback-message__text {
      transform: translateY(0);
    }
  }
}