.custom-select {
  position: relative;
  outline: none;
  min-width: 115px;
  user-select: none;

  &__dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    z-index: 20;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-gray);
  }

  &__list {
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;
  }

  &__item {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 10px;
    color: rgba(var(--text-second-color-na), 0.65);
    transition: 0.3s;
    cursor: pointer;

    @include mobile {
      color: rgba(var(--text-second-color-na), 1);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--bg-main-color-na), 0.95);
      transition: 0.3s;
    }

    &:hover {
      text-shadow: 0 0 1px #61b17a;
      color: rgba(var(--text-second-color-na), 1);

      &::before {
        //background-color: rgba(var(--color-btn-na), 1);
        transform: scale(1.25);
        transition: 0.3s;
      }
    }
  }

  &__top {
    position: relative;
    border-bottom: 1px solid rgba(var(--text-second-color-na), 0.5);
    padding: 0 15px 0 10px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      margin-top: -6px;
      width: 10px;
      height: 6px;
      background-image: url("../img/angle-down.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      transition: transform 0.5s;
    }
  }

  &--open {
    .custom-select__top {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .custom-select__list {
      max-height: 400px;
      transition: cubic-bezier(0.35, 0.95, 1, 1) 0.9s;
    }
  }

  &--footer {
    min-width: auto;

    .custom-select__top {
      border-bottom: none;
      padding-right: 15px;
      padding-bottom: 0;
      font-size: 13px;

      &::after {
        margin-top: 0;
      }
    }

    .custom-select__dropdown {
      font-size: 13px;
    }
  }
}