.loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__wrapper {
    margin: auto;
    padding-right: 110px; // для центрирования по горизонтали
    padding-bottom: 110px; // для центрирования по вертикали

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--bg-main-color);
      opacity: 0.6;
    }

    img {
      position: absolute;
      left: auto;
      top: auto;
      width: 110px;
    }
  }
}