.social {
  display: flex;
  align-items: center;

  .social__item:not(:last-child) {
    margin-right: 25px;
  }

  &__link {
    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--text-second-color);
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.3s;
      }
    }
  }
}