.tab-navigation {
  &__list {
    display: flex;
    justify-content: center;
    padding-top: 90px;

    @include sm {
      padding-top: 50px;
    }

    @include xs {
      flex-direction: column;
      //padding-top: 30px;
    }
  }

  &__item {
    margin: 0 30px;
    text-align: center;
    user-select: none;

    @include sm {
      margin: 0 15px;
    }

    @include xs {
      margin: 7px 0;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 36px;
    color: var(--third-color);
    transition: color 0.3s;

    &-quantity {
      pointer-events: none;
    }

    &:hover {
      color: var(--text-second-color);
    }

    &--active {
      color: var(--text-second-color);

      &::before {
        width: 100%;
        opacity: 1;
      }
    }

    @include mobile {
      font-size: 28px;
    }

    @include sm {
      font-size: 20px;
    }

    @include xs {
      font-size: 16px;
    }
  }

  @include xs {
    padding-top: 50px;
  }
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 30px 50px;
  width: 100%;
  transition: height 0.7s cubic-bezier(0.08, 0.56, 0.26, 0.59);

  &__tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transform: translateY(5%);
    transition: opacity 0.5s, transform 1s;

    &--active {
      //height: auto;
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @include sm {
    padding: 50px 30px 0;
  }

  @include xs {
    padding: 30px 10px 0;
  }
}