.admin-panel {
  &__content {
    //border: 1px solid var(--text-second-color);
    width: 100%;
  }

  &__message {
    position: fixed;
    right: 0;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px 40px;
    width: 450px;
    box-shadow: 0 0 20px -4px var(--error-message);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: var(--color-light-tundora);
    background-color: #eca3a3;
    opacity: 0;
    transform: translate(500px);
    transition: opacity 0.5s, transform 0.75s;

    &--success {
      box-shadow: 0 0 20px -4px var(--text-second-color);
      font-size: 16px;
      text-transform: uppercase;
      background-color: var(--color-btn);
    }

    &--show {
      opacity: 1;
      transform: translate(0);
    }
  }
}

.main-choice {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  padding: 0;
  width: 100%;

  &__option {
    margin: 10px;
    width: 25%;
    text-align: center;
  }

  &__title {
    margin: 0;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    background: var(--color-btn);
  }

  &__list {
    cursor: pointer;
  }

  &__item {
    margin: 5px 0;
    padding: 15px 10px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    &::before {
      border: 1px solid var(--color-btn);
      background-color: rgba(255, 255, 255, 0.7);
    }

    &:hover {
      &::before {
        transform: scale(1.065);
      }
    }
  }
}

// общие стили админ панели
.item-is-off {
  color: var(--white-smoke);
  background: var(--dark-gray);
  pointer-events: none;
}

.adm-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-height: 2500px;
  transition: 2.5s;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    color: var(--color-light-tundora);

    &:hover {
      .adm-content__cell {
        background: var(--color-btn);
        transition: 0.3s;
      }
    }
  }

  &__cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: var(--white-smoke);
    padding: 10px 20px;
    text-align: center;
    background: var(--bg-main-color);
    transition: 0.75s;
  }

  &__header {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: var(--white-smoke);
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--color-btn);
  }

  &__col-1 {
    width: 25%;
  }

  &__col-2 {
    width: 63%;
  }

  &__col-3 {
    width: 12%;
  }

  &__text {
    width: 100%;
    height: 100%;
  }

  &__text {
    resize: none;
  }

  &__btn {
    padding: 0;
    height: 60%;
    min-height: 35px;
    line-height: normal;

    &:hover:enabled {
      border-radius: 5px;
      box-shadow: 0 0 10px 0 #2a7539 inset, 0 0 8px 2px #1a6b33;
    }
  }
}

.adm-content[data-option="promotion"] {
  //max-height: 750px;
}

.adm-content[data-option="category"] {
  //max-height: 1500px;

  .adm-content__name {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.adm-content[data-option="product"] {
  align-items: flex-start;
  overflow-x: auto;

  //.adm-content {      // для всех продуктов
  //  &__row {
  //    justify-content: flex-start;
  //    width: 5000px;
  //  }
  //
  //  &__header {
  //    padding-left: 10px;
  //    width: 100px;
  //    text-align: left;
  //  }
  //
  //  &__cell {
  //    padding: 5px;
  //  }
  //
  //  &__col-1 {
  //    position: fixed;
  //    width: 330px;
  //  }
  //
  //  &__col-2 {
  //    margin-left: 330px;
  //    width: 100px;
  //  }
  //
  //  &__col-3 {
  //    width: 100px;
  //  }
  //
  //  &__col-4 {
  //    width: 100px;
  //  }
  //}
}

.adm-content[data-option="order"] {
  .adm-search__form {
    margin-bottom: 5px;
  }
}

.adm-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-height: 2200px;
  transition: 2s;

  &__title {
    display: block;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
  }

  &__text {
    padding: 15px;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  &__btn {
    margin-left: 50px;
    width: 50%;
  }
}

.adm-search__form .loader {
  position: absolute;
  left: unset;
  right: -20%;
  top: -20px;
  width: 100%;
  height: 50px;

  &__wrapper {
    padding: 0;

    &::before {
      content: none;
    }

    img {
      width: 50px;
    }
  }
}

.adm-result {
  overflow: auto;
  margin: auto;
  padding-bottom: 190px;
  color: var(--color-tundora);

  &__product {
    width: 75%;

    &-list {
      transition: 0.5s;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 0;
      border: 1px dashed var(--color-btn);
      padding: 10px;
      max-height: 0;
      opacity: 0;
      transition: 0.5s;
    }

    &-img {
      width: 100px;
    }

    &-article {
      width: 100px;
    }

    &-number {
      font-size: 25px;
      text-align: center;
    }

    &-name {
      width: 300px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__order {
    width: 97%;

    .order[data-status-id="1"] {
      .custom-select {
        background: var(--color-status-processing);

        &__item {
          background: var(--color-status-processing);

          &::before {
            background-color: var(--color-status-processing);
          }
        }
      }

      .order__status-change-btn {
        box-shadow: 0 0 40px 40px var(--color-status-processing) inset, 0 0 0 0 var(--color-status-processing);

        &:hover {
          box-shadow: 0 0 10px 0 var(--color-status-processing) inset, 0 0 10px 4px var(--color-status-processing);
        }
      }
    }

    .order[data-status-id="2"] {
      .custom-select {
        background: var(--color-status-picking);

        &__item {
          background: var(--color-status-picking);

          &::before {
            background-color: var(--color-status-picking);
          }
        }
      }

      .order__status-change-btn {
        box-shadow: 0 0 40px 40px var(--color-status-picking) inset, 0 0 0 0 var(--color-status-picking);

        &:hover {
          box-shadow: 0 0 10px 0 var(--color-status-picking) inset, 0 0 10px 4px var(--color-status-picking);
        }
      }
    }

    .order[data-status-id="3"] {
      .custom-select {
        background: var(--color-status-paymenent);

        &__item {
          background: var(--color-status-paymenent);

          &::before {
            background-color: var(--color-status-paymenent);
          }
        }
      }

      .order__status-change-btn {
        box-shadow: 0 0 40px 40px var(--color-status-paymenent) inset, 0 0 0 0 var(--color-status-paymenent);

        &:hover {
          box-shadow: 0 0 10px 0 var(--color-status-paymenent) inset, 0 0 10px 4px var(--color-status-paymenent);
        }
      }
    }

    .order[data-status-id="4"] {
      .custom-select {
        background: var(--color-status-delivering);

        &__item {
          background: var(--color-status-delivering);

          &::before {
            background-color: var(--color-status-delivering);
          }
        }
      }

      .order__status-change-btn {
        box-shadow: 0 0 40px 40px var(--color-status-delivering) inset, 0 0 0 0 var(--color-status-delivering);

        &:hover {
          box-shadow: 0 0 10px 0 var(--color-status-delivering) inset, 0 0 10px 4px var(--color-status-delivering);
        }
      }
    }

    .order[data-status-id="5"] {
      .custom-select {
        background: var(--color-status-delivered);

        &__item {
          background: var(--color-status-delivered);

          &::before {
            background-color: var(--color-status-delivered);
          }
        }
      }

      .order__status-change-btn {
        box-shadow: 0 0 40px 40px var(--color-status-delivered) inset, 0 0 0 0 var(--color-status-delivered);

        &:hover {
          box-shadow: 0 0 10px 0 var(--color-status-delivered) inset, 0 0 10px 4px var(--color-status-delivered);
        }
      }
    }

    .order[data-status-id="6"] {
      .custom-select {
        background: var(--color-status-completed);

        &__item {
          background: var(--color-status-completed);

          &::before {
            background-color: var(--color-status-completed);
          }
        }
      }

      .order__status-change-btn {
        box-shadow: 0 0 40px 40px var(--color-status-completed) inset, 0 0 0 0 var(--color-status-completed);

        &:hover {
          box-shadow: 0 0 10px 0 var(--color-status-completed) inset, 0 0 10px 4px var(--color-status-completed);
        }
      }
    }

    .order[data-status-id="7"] {
      .custom-select {
        background: var(--color-status-canceled);

        &__item {
          background: var(--color-status-canceled);

          &::before {
            background-color: var(--color-status-canceled);
          }
        }
      }

      .order__status-change-btn {
        box-shadow: 0 0 40px 40px var(--color-status-canceled) inset, 0 0 0 0 var(--color-status-canceled);

        &:hover {
          box-shadow: 0 0 10px 0 var(--color-status-canceled) inset, 0 0 10px 4px var(--color-status-canceled);
        }
      }
    }

    .adm-result__order-list {
      margin: 25px 20px 0;
    }

    .order__status {
      display: flex;
      justify-content: space-evenly;
      cursor: auto;

      .custom-select {
        margin-left: 5px;
        padding: 5px;
        width: 200px;

        &__top {
          border-bottom: 1px solid var(--color-tundora);
          padding-top: 5px;
          padding-bottom: 5px;

          &::after {
            right: 5px;
            bottom: 5px;
            width: 12px;
            height: 7px;
          }
        }

        &__item {
          margin-top: 4px;
          margin-bottom: 4px;
          padding: 12px 10px;
          color: var(--color-tundora);

          &:hover {
            text-shadow: 0 0 1px var(--color-tundora);
          }
        }
      }

      &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        //padding: 15px;

        @include xs {
          width: 100%;
        }
      }

      &-change-btn {
        width: 50%;
        height: 100%;
        color: var(--color-tundora);

        @include md {
          width: 100%;
        }
      }

      @include xs {
        flex-direction: column;
      }
    }

    .order__item-title {
      text-transform: uppercase;
    }
  }

  &__empty {
    display: block;
    padding: 15px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: var(--error-bg-message);
  }

  &__count-block {
    margin: 20px;
    max-height: 100px;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: 2.5s;
  }

  &__count {
    margin-left: 10px;
    font-size: 30px;
  }

  &__item {
    //overflow: hidden;
    //margin-bottom: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.5s;
  }

  &__item--show {
    //margin-bottom: 15px;
    max-height: 1000px;
    opacity: 1;
    transition: 0.5s;
  }
}

.blanc {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 100%;
  height: 1700px;
  transition: 1.5s;

  &.is-reduce .blanc__categories {
    display: none;
  }

  &__label {
    font-size: 17px;
  }

  &__label-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
  }

  &__input {
    margin-top: 5px;
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #333;
    background: rgba(255, 255, 255, 0.5);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

  &__longtext {
    margin: 0;
    padding: 3px 5px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: left;
    resize: none;
  }

  &__title {
    grid-column: 1 / 15;
    grid-row: 1 / 2;

    &-input {
      padding: 5px;
      font-weight: 700;
      font-size: 22px;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &__active {
    grid-column: 15 / 19;
    grid-row: 1 / 2;

    .blanc__active-text {
      padding-left: 25px;
      font-weight: 700;
      font-size: 20px;
    }

    .custom-checkbox__text {
      &::before {
        border-width: 3px;
        width: 20px;
        height: 20px;
      }

      &::after {
        left: 2px;
        top: -6px;
        width: 25px;
        height: 25px;
        font-size: 25px;
      }
    }
  }

  &__similar {
    justify-content: flex-start;
    grid-column: 1 / 6;
    grid-row: 7 / 13;
    border: 1px dashed var(--color-btn);
    font-size: 12px;
    background: #f9fff0;

    &-input {
      width: 75%;
      font-size: 14px;
      text-transform: uppercase;
    }

    &-label {
      margin-bottom: 5px;
      padding: 10px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }

    &-form-add {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &-add-btn {
      margin: 15px 10px;
      width: 75%;
      height: 40px;
      font-size: 12px;
      line-height: normal;
    }

    &-list {
      overflow-y: auto;
      padding: 10px;
      width: 100%;
    }

    &-item {
      margin: 5px 0;
      border-bottom: 1px dashed var(--quill-gray);
      max-height: 100px;
      opacity: 1;
      transition: 0.5s;

      &:hover {
        .blanc__similar-name,
        .blanc__similar-article {
          text-shadow: 1px 1px 1px var(--color-btn);
          color: var(--text-second-color);
        }
      }
    }

    &-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-img {
      width: 12%;
    }

    &-article {
      width: 20%;
      transition: 0.3s;
    }

    &-name {
      padding: 0 10px;
      width: 60%;
      transition: 0.3s;
    }

    &-del-btn {
      padding: 5px;
      width: 18%;
      height: 25px;
      box-shadow: none;
      font-size: 10px;
      line-height: normal;
      background: none;
    }
  }

  &__price {
    flex-direction: row;
    grid-column: 6 / 15;
    grid-row: 2 / 3;

    &-input {
      width: 85%;
    }
  }

  &__exist {
    flex-direction: row;
    grid-column: 6 / 15;
    grid-row: 3 / 4;

    &-stock {
      width: 25%;
    }

    &-order {
      width: 25%;
    }

    &-date {
      width: 50%;
    }
  }

  &__life {
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 6 / 15;
    grid-row: 4 / 5;

    .blanc__label-wrap {
      width: 30%;
    }
  }

  &__weight {
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 6 / 15;
    grid-row: 5 / 6;

    .blanc__label-wrap {
      width: 40%;
    }
  }

  &__hwd {
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 6 / 15;
    grid-row: 6 / 7;

    .blanc__label-wrap {
      width: 33%;
    }
  }

  &__article {
    align-items: flex-start;
    grid-column: 15 / 19;
    grid-row: 2 / 7;
    margin-top: -10px;
    border: 1px dashed var(--color-btn);
    padding: 40px;
    padding-top: 0;
    height: 100%;

    &-label {
      text-align: center;
    }

    &-input {
      text-transform: uppercase;
    }

    .custom-checkbox {
      padding-left: 20px;
    }

    .blanc__article-text {
      padding-left: 25px;
      font-weight: 500;
      font-size: 16px;

      &::before {
        width: 16px;
        height: 16px;
      }

      &::after {
        left: 1px;
        top: -6px;
        width: 22px;
        height: 22px;
        font-size: 23px;
      }
    }
  }

  &__categories {
    grid-column: 1 / 6;
    grid-row: 2 / 7;
    width: 100%;

    &-label {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;

      &.blanc__label {
        margin-bottom: 10px;
        padding: 10px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    &-item {
      margin: 10px;
    }

    &-name {
      padding: 5px 5px 5px 0;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &-text.custom-checkbox__text {
      font-size: 10px;

      &::before {
        top: 0;
        border-width: 2px !important;
        width: 12px !important;
        height: 12px !important;
      }

      &::after {
        left: 0 !important;
        top: -9px !important;
        font-size: 15px !important;
      }
    }
  }

  &__short {
    grid-column: 6 / 19;
    grid-row: 7 / 10;
    background: #fffaf0;

    &-label {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__description {
    grid-column: 6 /19;
    grid-row: 10 / 13;
    background: #fffaf0;

    &-label {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__structure {
    grid-column: 1 / 19;
    grid-row: 13 / 15;
    background: #fffaf0;

    &-label {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__recommendation {
    grid-column: 1 / 19;
    grid-row: 15 / 17;
    background: #fffaf0;

    &-label {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__scope {
    grid-column: 1 / 19;
    grid-row: 17 / 19;
    background: #fffaf0;

    &-label {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__videos {
    //grid-column: 1 / 7;
    //grid-row: 19 / 25;
  }

  &__photos {
    //grid-column: 7 / 13;
    //grid-row: 19 / 25;
  }

  &__certificates {
    //grid-column: 13 / 19;
    //grid-row: 19 / 25;
  }

  &__save-btn {
    grid-column: 1 / 19;
    grid-row: 19 / 20;
    margin: auto;
    margin-top: 30px;
    width: 98%;
    height: 100%;
    font-size: 20px;
  }
}