.banner-greenleaf {
  position: relative;
  //margin-bottom: 100px;
  width: 100%;
  height: 500px;
  background: fixed center / cover no-repeat var(--bg-image-main);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgba(0, 0, 0, 0.2);

    @include xs {
      height: calc(100% - 50px);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(100% - 100px);
    background: center / cover no-repeat url("../img/main/banner_greenleaf.jpg");

    @include xs {
      height: calc(100% - 50px);
    }
  }

  &__ref {
    color: var(--color-white);
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 2px solid #fff;
    padding: 15px;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    text-shadow: 1px 1px 3px #000, 0 0 4px #000;
    opacity: 0.8;
    transition: opacity 0.3s, box-shadow 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      width: 150px;
      height: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
      transform: translateX(-100%);
      transition: none;
    }

    &:hover {
      box-shadow: 0 0 10px #fff;
      opacity: 1;

      &::before {
        transform: translateX(600%);
        transition: transform 1.75s;
      }

      .greenleaf-banner__green {
        color: var(--text-main-color);
      }
    }

    @include md {
      font-size: 36px;
    }

    @include sm {
      font-size: 26px;
    }

    @include xs {
      font-size: 22px;
    }
  }

  &__green {
    letter-spacing: 1.05px;
    color: var(--text-main-color);
  }

  @include md {
    height: 400px;
  }

  @include sm {
    height: 350px;
  }

  @include xs {
    height: 275px;
  }
}