.company {
  &__video {
    margin: 40px 0;
    width: 70%;

    &-wrap {
      position: relative;
      text-align: center;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #fff, #15a51f, #fff);
        opacity: 0.3;
      }

      &::after {
        top: 99%;
        bottom: 0;
      }
    }

    @include sm {
      width: 90%;
    }

    @include xs {
      width: 95%;
    }
  }

  .company-production {
    margin-top: 70px;
  }

  .company-cert {
    margin: 60px 0 70px;

    @include sm {
      margin-top: 30px;
    }
  }
}

.company-about {
  margin-bottom: 70px;

  .company {
    &__image {
      width: 45%;
      min-width: 400px;
      max-width: 540px;

      @include sm {
        width: 100%;
      }

      @include xs {
        min-width: auto;
      }
    }

    &__text-wrap {
      margin-top: 100px;
      margin-left: -150px;
      padding: 0;
      width: 100%;
      background-color: transparent;

      @include sm {
        margin: -50px 0 0;
      }
    }

    &__text {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  @include sm {
    flex-direction: column;
    align-items: center;
  }
}

.company-cert {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    z-index: 10;
    width: 22%;
    transition: 0.5s;
    cursor: pointer;

    img {
      width: 100%;
    }

    &:hover {
      transform: scale(1.1);

      @include mobile {
        transform: scale(1);
      }
    }

    &--active {
      z-index: 11;
      transform: scale(4);
    }

    @include mobile {
      width: 37%;

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 50px;
      }
    }

    @include xs {
      width: 75%;

      &:nth-child(3) {
        margin-bottom: 50px;
      }
    }
  }
}

.company-production,
.company-marketing {
  .company__image {
    float: left;
    margin: 20px 30px 10px 0;
    width: 30%;
    min-width: 450px;

    img {
      border-radius: 0 100px;
    }

    @include mobile {
      min-width: 350px;
    }

    @include sm {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    @include xs {
      margin-top: 0;
      margin-bottom: 10px;
      min-width: 250px;
    }
  }

  .company__text-wrap {
    width: 100%;
  }

  @include sm {
    flex-direction: column;
    align-items: center;
  }
}