
.error-page {
  margin: 0 !important;
  width: 100%;
  height: 100vh;
  min-width: 320px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  text-shadow: 0 0 4px #000;
  color: #1dd46f;
  background-color: var(--color-white);

  & .overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
  }

  .site-container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url("../../img/errors/404.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__number {
    margin-bottom: 10px;
    font-size: 58px;
    color: #9dff00;

    @include mobile {
      font-size: 46px;
    }

    @include xs {
      font-size: 36px;
    }
  }

  &__title {
    font-size: 46px;

    @include mobile {
      font-size: 36px;
    }

    @include xs {
      font-size: 28px;
      line-height: 28px;
    }
  }

  &__ref-text {
    padding: 20px;
    font-size: 24px;

    @include xs {
      font-size: 18px;
    }
  }

  &__ref {
    z-index: 100;
    font-weight: 700;
    font-size: 26px;
    color: #1dd46f;

    @include xs {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;

    @include xs {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__info {
    font-weight: 700;
  }
}