.faq {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 100px;

    @include xs {
      padding: 50px 10px 80px;
    }
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1450px;
  }

  &__item {
    margin-bottom: 30px;
    //border: 1px dashed rgba(var(--color-status-completed-na), 0.3);
    border-radius: 10px;
    width: 100%;
    background-color: rgba(151, 196, 165, 0.5);
    //background: linear-gradient(to right, rgba(var(--bg-main-color-na), 0.65) 0, rgba(194, 227, 181, 0.5) 100%);
    background-size: cover;
    background-repeat: repeat;
    opacity: 0;
    transform: translateY(50px);

    ul {
      list-style: circle;
    }

    li {
      list-style-position: inside;
    }

    .heart {
      width: 30px;
      transform: rotate(0);
    }

    @include xs {
      margin-bottom: 20px;
    }
  }

  &__item-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 10px 30px;
    cursor: pointer;

    @include sm {
      padding: 20px 50px 10px 20px;
    }

    @include xs {
      padding: 20px 30px 10px 20px;
    }
  }

  &__item-title {
    margin: 0;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--color-tundora);

    @include sm {
      font-size: 15px;
    }

    @include xs {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__item-arrow-wrap {
    margin-right: -35px;
    padding-left: 15px;

    @include xs {
      margin-right: -20px;
      padding-left: 10px;
    }
  }

  &__item-arrow {
    width: 20px;
    height: 25px;
    fill: var(--color-tundora);
    transform: rotate(-90deg);

    @include mobile {
      width: 22px;
      height: 22px;
    }

    @include sm {
      width: 20px;
      height: 20px;
    }
  }

  &__item-answer {
    overflow: hidden;
    padding: 0 60px;
    height: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;

    &-wrap {
      padding-bottom: 25px;
    }

    p {
      margin: 0;
      margin-bottom: 5px;
    }

    li {
      text-align: left;
    }

    @include mobile {
      padding: 0 45px;
    }

    @include sm {
      padding: 0 30px;
      font-size: 16px;
      line-height: 22px;
    }

    @include xs {
      padding: 0 20px;
      font-size: 15px;
      text-align: left;
    }
  }
}