.footer {
  position: relative;
  background: fixed center / cover no-repeat var(--bg-image-main);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--color-btn-na), 0.2);
  }

  .social {
    margin-right: 10px;
  }

  &__container {
    max-width: 1920px;
  }

  &__content {
    padding: 70px 170px 0;

    @include lg {
      padding: 0;
      padding-top: 80px;
    }

    @include md {
      padding-top: 60px;
    }

    @include mobile {
      padding-top: 40px;
    }
  }

  &__callback {
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-wrap: wrap;
      padding-bottom: 50px;
    }

    @include xs {
      flex-wrap: wrap;
      padding-bottom: 20px;
    }
  }

  &__column {
    z-index: 50;

    &:first-child {
      margin-bottom: 30px;
      padding-right: 30px;
    }

    &:last-child {
      width: 40%;
      transition: height 0.9s;

      @include md {
        width: 40%;
      }

      @include sm {
        margin-top: 10px;
        width: 100%;
      }
    }
  }

  &__item {
    font-size: 16px;
    color: var(--color-tundora);

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__list {
    &--row {
      display: flex;
      align-items: center;

      .footer__item {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 80px;

          @include sm {
            margin-right: 20px;
          }
        }
      }
    }
  }

  &__select {
    display: flex;
    align-items: center;
    margin-left: 60px;

    &-caption {
      margin-right: 14px;
      font-size: 13px;
      color: var(--color-gray);
    }
  }

  &__link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: currentColor;
      opacity: 0;
      transition: opacity 0.3s, width 0.3s;
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s, width 0.3s;
      }
    }

    &--row {
      font-weight: 700;
      color: var(--color-dark);
    }

    @include xs {
      font-size: 13px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    @include xs {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }

  &__form {
    margin-bottom: 25px;
    opacity: 1;
    transition: 0.5s;

    &--hidden {
      opacity: 0 !important;
    }

    @include md {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 40px;

    @include xs {
      flex-direction: column;
      padding: 20px 0;
      padding-bottom: 30px;
    }
  }

  &__left {
    @include xs {
      margin-bottom: 20px;
    }
  }

  &__right {
    z-index: 50;
  }

  &__schedule {
    list-style: disc;
    padding: 10px 20px;

    li {
      margin-bottom: 5px;
    }
  }

  &__contact-data {
    font-size: 14px;
  }
}

.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(5%);
  transition: opacity 0.5s, transform 1s;

  &__text {
    display: block;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-tundora);

    @include mobile {
      font-size: 14px;
    }

    @include xs {
      font-size: 13px;
    }
  }

  &__btn {
    z-index: 2;
    margin-top: 20px;
    line-height: 45px;
  }

  &__field {
    width: 100%;

    input {
      @include xs {
        font-size: 14px;
      }
    }
  }

  &__question {
    margin-top: 10px;
    border: revert;
    padding: revert;
    width: 100%;
    height: revert;
    font-size: 15px;
    color: var(--text-second-color);
    background: rgba(255, 255, 255, 0.6);
    resize: none;

    &::placeholder {
      font-size: 13px;
      color: var(--color-btn);
    }

    @include xs {
      font-size: 14px;
    }
  }

  &--active {
    display: flex;
    opacity: 1;
    transform: translateX(0%);
  }
}

.copyright {
  display: block;
  padding: 0 0 15px 30px;
  width: 100%;
  font-size: 11px;

  a {
    font-size: inherit;
  }

  @include xs {
    font-size: 10px;
  }
}