.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: background-color 0.5s, padding-top 0.5s;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
    transition: padding 0.5s;

    @include xs {
      padding: 28px 36px;
    }
  }

  &__logo {
    width: 150px;
    opacity: 0;
    transition: 0.3s;
  }

  &__shop-nav {
    position: relative;

    @include md {
      margin-left: 0;
    }
  }

  .header-home-narrow {
    .custom-select__item::before {
      background-color: rgba(var(--color-btn-na), 0.4);
    }

    .custom-select__item-link {
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        color: var(--text-main-color);
      }
    }
  }
}

.nav {
  display: block;

  &__list {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    font-size: 14px;
    text-shadow: 1px 1px 3px #000, 0 0 3px #000;
    text-transform: uppercase;
    color: var(--text-main-color);
    opacity: 0.75;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.95;
    }

    &--current {
      opacity: 0.85;

      &::before {
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s, width 0.3s;
      }
    }
  }

  &.nav--visible {
    left: 0;
    transition: left 0.5s;

    .nav__overlay {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.75s;
    }
  }

  @include md {
    display: none;
  }
}

.message-to-cart {
  position: absolute;
  right: -20px;
  top: 30px;
  z-index: 100;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px -4px var(--text-second-color);
  background-color: var(--color-white);
  opacity: 0;
  transform: translate(500px);
  transition: opacity 0.5s, transform 0.75s, box-shadow 0.5s;

  &__already {
    border-radius: 5px;
    padding: 10px;
    width: 265px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: var(--text-second-color);
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: left;
    padding: 10px;
    width: 370px;
    min-height: 95px;

    @include xs {
      width: 300px;
    }
  }

  &__ref {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    align-self: center;
    width: 73px;
    transition: transform 0.5s;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15px;
    width: 70%;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--text-second-color);
  }

  &__price-wrap {
    display: flex;
    align-items: flex-end;
    color: var(--color-tundora);
  }

  &__price {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
  }

  &__cu {
    font-weight: 700;
    font-size: 16px;
  }

  &__text {
    align-self: flex-end;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-tundora);

    @include xs {
      margin-top: 10px;
    }
  }

  &__cool {
    display: none;
  }

  &:hover {
    .message-to-cart__image {
      transform: scale(1.25);
    }
  }

  &--show {
    opacity: 1;
    transform: translate(0);
  }

  @include xs {
    right: -20px;
  }
}

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 18px;
  opacity: 0.65;
  transition: opacity 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background-color: var(--text-main-color);
    transition: all 0.3s;
  }

  &::before {
    top: 0;
    width: 70%;
  }

  &::after {
    bottom: 0;
    width: 90%;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: var(--text-main-color);
    transform: translateY(-50%);
    transition: all 0.3s;
  }

  &:hover {
    opacity: 1;

    .burger__line,
    &::before,
    &::after {
      width: 100%;
    }
  }

  @include mobile {
    opacity: 1;
  }

  @include md {
    display: block;
  }
}

.header--sticky {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-main-color);

  .header__container {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header-home-narrow {
    .custom-select__item::before {
      background-color: var(--bg-main-color);
    }

    .custom-select__item-link {
      color: rgba(var(--text-second-color-na), 0.5);

      &:hover {
        color: rgba(var(--text-second-color-na), 1);
      }

      @include mobile {
        color: rgba(var(--text-second-color-na), 1);
      }
    }
  }

  .nav__link {
    text-shadow: none;
    color: var(--text-second-color);
  }

  .shop-nav__link svg {
    fill: var(--text-second-color);
  }

  .shop-nav__user-name {
    color: var(--text-second-color);
    opacity: 0.75;
  }

  .burger::before,
  .burger::after,
  .burger__line {
    background-color: var(--text-second-color);
  }

  .header__logo {
    opacity: 1;
  }

  &.catalog-header .container-narrow {
    .custom-select__item::before {
      background-color: var(--bg-main-color);
    }
  }
}

.catalog-header {
  padding-top: 38px;

  .container-narrow {
    .custom-select__item::before {
      background-color: rgba(var(--bg-main-color-na), 0.4);
    }

    .custom-select__item-link {
      color: var(--color-gray);

      &:hover {
        color: var(--color-black);
      }

      @include mobile {
        color: var(--color-black);
      }
    }
  }

  .nav__link {
    text-shadow: none;
    color: #000;
  }

  .shop-nav__link svg {
    fill: #000;
  }

  .shop-nav__user-name {
    color: #000;
  }

  .burger::before,
  .burger::after,
  .burger__line {
    background-color: var(--text-second-color);
  }
}