.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;

  &__container {
    padding: 0;
  }

  &__video {
    z-index: 1;
    padding-bottom: 56.25%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &__video-media {
    position: fixed;
    top: 0;
    margin: 0 auto;
    height: auto;
    text-align: center;
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
  }

  &__to-shop {
    position: relative;
    display: inline-block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 3px #000, 0 0 3px #000;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.65;
    transition: all 0.4s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      opacity: 0;
      transition: all 0.4s;
      pointer-events: none;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      letter-spacing: 10px;
      opacity: 0.9;

      &::before,
      &::after {
        left: -12.5%;
        width: 125%;
        background-color: rgba(255, 255, 255, 0.8);
        opacity: 1;
      }

      &::before {
        top: -20%;
      }

      &::after {
        bottom: -20%;
      }
    }

    @include mobile {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      font-size: 26px;
      letter-spacing: 10px;
      opacity: 0.9;

      &::before,
      &::after {
        left: -12.5%;
        width: 125%;
        background-color: rgba(255, 255, 255, 0.8);
        opacity: 1;
      }

      &::before {
        top: -20%;
      }

      &::after {
        bottom: -20%;
      }
    }

    @include xs {
      font-size: 26px;
    }
  }

  &__green {
    color: var(--text-main-color);
    transition: color 0.5s;
  }
}