.main-products {
  position: relative;
  margin: auto;
  background: fixed center / cover no-repeat var(--bg-image-main);

  &__container {
    padding-top: 55px;
    padding-bottom: 55px;
    max-width: 1600px;

    @include mobile {
      padding-top: 35px;
    }

    @include xs {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__list {
    transition: height 1s;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
  }

  &__item {
    margin: 0 18px;

    @include xs {
      margin: 0 10px;
    }
  }

  &__btn-center {
    text-align: center;
  }

  &__more {
    z-index: -1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--color-gray);
    transition: 0.55s;

    span {
      margin-bottom: 12px;
    }

    svg {
      width: 12px;
      height: 21px;
      fill: var(--color-dark);
      transition: transform 0.3s;
    }

    &:hover {
      svg {
        transform: translateY(5px);
        transition: transform 0.3s;
      }
    }

    @include md {
      margin-top: 0;
    }
  }

  &__btn {
    font-size: 20px;
    text-transform: uppercase;

    &--current {
      &::before {
        width: 100%;
        opacity: 1;
        transition: opacity 0.15s;
      }
    }

    @include mobile {
      font-size: 18px;
    }

    @include sm {
      font-size: 16px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  @include lg {
    width: auto;
  }
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;

  .product {
    padding-bottom: 10px;

    @include lg {
      padding-bottom: 5px;
    }

    @include md {
      padding-bottom: 10px;
    }

    @include mobile {
      padding-bottom: 5px;
    }

    @include sm {
      padding-bottom: 0;
    }

    //@include xs-rotate {
    //  padding-bottom: 5px;
    //}
  }

  .product__title {
    font-size: 15px;
    line-height: 22px;

    @include lg {
      font-size: 13px;
      line-height: 19px;
    }

    @include md {
      font-size: 15px;
      line-height: 22px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 19px;
    }

    @include sm {
      min-height: 5.5em;
      font-size: 10px;
      line-height: 14px;
    }

    @include xs-rotate {
      font-size: 12px;
      line-height: 17px;
    }

    @include xs {
      font-size: 11px;
      line-height: 16px;
    }
  }

  .product-custom__price {
    font-size: 24px;

    @include lg {
      font-size: 20px;
    }

    @include md {
      font-size: 24px;
    }

    @include mobile {
      font-size: 20px;
    }

    @include sm {
      font-size: 16px;
    }

    @include xs-rotate {
      font-size: 18px;
    }

    @include xs {
      font-size: 16px;
    }
  }

  &__item {
    margin-right: 1.8%;
    margin-bottom: 80px;
    width: 18.5%;
    opacity: 0;
    transform: scale(0.75);
    transition: transform var(--delay-transform-goods), opacity var(--delay-opacity-goods);

    &:nth-child(5n) {
      margin-right: 0;

      @include md {
        margin-right: 5%;
      }

      @include xs {
        margin-right: 4%;
      }
    }

    &:nth-child(3n) {
      @include md {
        margin-right: 0;
      }

      @include xs {
        margin-right: 4%;
      }

      @include xs-rotate {
        margin-right: 0;
      }
    }

    &:nth-child(2n) {
      @include xs {
        margin-right: 0;
      }

      @include xs-rotate {
        margin-right: 2.5%;
      }
    }

    @include md {
      margin-right: 5%;
      margin-bottom: 50px;
      width: 30%;
    }

    @include xs {
      margin-right: 4%;
      margin-bottom: 30px;
      width: 48%;
    }

    @include xs-rotate {
      margin-right: 2.5%;
      width: 30%;
    }
  }
}