.product {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px -3px rgba(143, 143, 143, 0.75);
  background-color: #fff;
  transition: 0.5s;

  &__image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
    }
  }

  &__sale {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 20;
    border: 2px solid var(--color-dark);
    padding: 4px 10px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #111;
  }

  &__prop {
    margin-bottom: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px 10px;
    min-height: 5.5em;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-tundora);

    a {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  &__price {
    padding-left: 5px;
    font-weight: 700;
    font-size: inherit;

    &-cu {
      display: none;
    }
  }

  &__old-price {
    display: none;
    padding: 0 5px;
    font-weight: 500;
    font-size: inherit;
    text-decoration: line-through;
    color: #959595;
  }

  &:hover:not(.product--added):not(.js-no-price) {
    box-shadow: 0 0 20px -4px var(--text-second-color);

    .product__image {
      img {
        transform: scale(1.15);
        transition: transform 0.3s;
      }
    }

    .product-custom__price {
      transition: 0.3s;
    }

    .product-custom__cart-icon {
      bottom: 20%;
      transition: 0.5s;
      transition-delay: 0.3s;
      pointer-events: none;
    }

    .product-custom__cart-btn {
      width: 100%;
      height: 35%;
      transition: 0.5s;
    }
  }

  @include mobile {
    &:not(.js-no-price) {
      .product-custom__cart-icon {
        bottom: 20%;
        transition: 0.5s;
        transition-delay: 0.3s;
        pointer-events: none;
      }

      .product-custom__cart-btn {
        width: 100%;
        height: 35%;
        transition: 0.5s;
      }
    }
  }
}

.product-prop {
  display: inline-block;
  padding-left: 16px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #111;
  background-position: left center;
  background-repeat: no-repeat;
}

.product-custom {
  overflow: hidden;
  height: 47px;

  &__price {
    position: relative;
    padding: 15px 5px;
    text-align: center;
    transition: transform 0.3s;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      left: 12.5%;
      top: 0;
      border-radius: 50%;
      width: 75%;
      height: 2px;
      background: linear-gradient(to left, #fff, var(--text-second-color), #fff);
      opacity: 0.2;
    }

    > .js-conventional-unit:first-child {
      font-weight: 700;
    }

    .product__price + .js-conventional-unit {
      margin-left: 5px;
      font-weight: 500;
      text-decoration: line-through;
      color: #959595;
    }
  }

  &__cart-btn {
    position: absolute;
    right: -40%;
    top: -12%;
    border: none;
    padding: 15px 5px;
    width: 0;
    height: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(177, 220, 184, 1);
    opacity: 0.65;
    transform: rotate(45deg);
    transition: 0.3s;
    transition-delay: 0.2s;
    cursor: pointer;

    &:hover {
      border-radius: 50%;
      opacity: 0.9;
      transition: 0.3s;

      .product-custom__cart-icon {
        animation: move-hover-cart 1s linear infinite;
      }
    }
  }

  &__cart-icon,
  &__cart-icon--full {
    position: absolute;
    right: 35%;
    bottom: 100%;
    width: 30%;
    height: 30%;
    fill: var(--text-second-color);
    opacity: 0.65;
    transform: rotate(-45deg);
    transition: 0.3s;
    pointer-events: none;

    &--full {
      transition-delay: 0.2s;
    }
  }
}

.product--added {
  &.product {
    box-shadow: 0 0 20px -4px var(--text-second-color);

    .product-custom__cart-btn {
      border-radius: 50%;
      width: 100%;
      height: 35%;
      opacity: 0.9;
    }

    .product-custom__cart-icon {
      bottom: 100%;
      animation: none;

      &--full {
        bottom: 20%;
        animation: none;
      }
    }
  }
}