.card {
  padding-top: 65px;

  @include sm {
    padding-top: 50px;
  }
}

.card-content {
  padding-top: 50px;

  .container {
    padding: 0 100px;

    @include lg {
      padding: 0 50px;
    }

    @include mobile {
      padding: 0 20px;
    }

    @include xs {
      padding: 0 5px;
    }
  }

  @include sm {
    padding-top: 0;
  }
}

.card-top {
  .container {
    display: flex;
    flex-wrap: wrap;

    @include sm {
      flex-wrap: wrap;
    }
  }

  &__left {
    width: 47.2%;

    @include sm {
      width: 100%;
    }
  }

  &__right {
    margin-top: -50px;
    padding: 0 80px;
    width: 52.8%;

    @include lg {
      padding: 0 30px;
    }

    @include sm {
      padding: 0 20px;
      width: 100%;
    }

    @include xs {
      padding: 0 5px;
    }
  }
}

.card-info {
  &__category {
    margin: 0;
    width: 100%;

    a {
      font-size: 12px;
      text-transform: uppercase;
      color: var(--third-color);
      transition: 0.3s;

      &:hover {
        color: var(--text-second-color);
      }
    }

    @include sm {
      margin-top: 30px;
    }
  }

  &__arrow-right {
    width: 20px;
    height: 10px;
    fill: var(--text-second-color);
  }

  &__prop {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;

    &-item {
      width: 125px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-tundora);

    @include lg {
      //font-size: 28px;
    }

    @include md {
      font-size: 26px;
      line-height: 38px;
    }

    @include sm {
      margin-top: 30px;
      font-size: 28px;
      line-height: 38px;
    }

    @include xs {
      margin-top: 70px;
    }
  }

  &__price {
    margin-top: 40px;

    .info-price__conventional {
      margin-right: 10px;
    }

    @include md {
      margin-top: 30px;
    }
  }

  &__short-description {
    margin: 40px 0;
    padding-right: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: var(--color-tundora);

    @include md {
      margin: 30px 0;
    }

    @include mobile {
      padding-right: 0;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__quantity-article {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__list {
    margin-top: 30px;
  }

  &__item {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-tundora);
  }

  &__label {
    margin-bottom: 17px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-second-color);
  }

  &__value {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-tundora);
  }

  &__stepper {
    margin-bottom: 10px;
  }

  &__btn {
    margin-bottom: 10px;

    &--towishlist {
      border: 1px solid var(--text-second-color);
    }
  }
}

.info-price {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__conventional-old {
    margin-left: 35px;

    @include mobile {
      margin-left: 20px;
    }
  }

  &__conventional,
  &__current {
    font-weight: 700;
    font-size: 32px;
    color: var(--text-second-color);

    @include md {
      font-size: 30px;
    }

    @include mobile {
      font-size: 28px;
    }
  }

  &__old,
  &__conventional-old {
    font-size: 24px;
    text-decoration: line-through;
    color: #959595;

    @include md {
      font-size: 22px;
    }

    @include mobile {
      font-size: 20px;
    }
  }
}

.card-bottom {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 10px;

  &__social {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;

    span {
      margin-right: 13px;
    }

    @include sm {
      width: 100%;
    }
  }
}

.card-description {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  padding-top: 70px;
  width: 100%;
  color: var(--color-tundora);
  transition: height 1s;

  &__wrapper {
    position: relative;
    border: 1px solid rgba(var(--color-btn-na), 0.8);
    padding: 80px 20px 30px;
    width: 100%;
    background: rgba(var(--color-btn-na), 0.2);

    &-title {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px;
      width: 100%;
      font-size: 16px;
      background: rgba(var(--color-btn-na), 0.6);
    }

    @include mobile {
      padding: 70px 20px 30px;
    }

    @include xs {
      padding: 70px 10px 30px;
    }
  }

  &__heading {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;

    @include mobile {
      margin-bottom: 7px;
      font-size: 18px;
    }
  }

  &__content {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;

    @include mobile {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__certifications {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 75%;
  }

  @include md {
    padding-top: 50px;
  }

  @include mobile {
    margin-bottom: 30px;
  }

  @include xs {
    flex-wrap: wrap;
  }
}

.certifications__item {
  width: 200px;
}

.card-related {
  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

    @include mobile {
      margin-bottom: 25px;
      font-size: 22px;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-bottom: 50px;
  }

  .product {
    margin: 20px auto;
    width: 220px;
    height: auto;

    .product-custom__cart-btn {
      right: -46%;
      top: -18%;
    }

    .product-custom__cart-icon,
    .product-custom__cart-icon--full {
      right: 40%;
      width: 27%;
      height: 27%;
    }

    &:hover {
      .product-custom__cart-icon {
        bottom: 15%;
      }
    }

    &.product--added {
      .product-custom__cart-btn {
        height: 35%;
      }

      .product-custom__cart-icon {
        bottom: 100%;
      }

      .product-custom__cart-icon--full {
        bottom: 15%;
      }

      &:hover {
        .product-custom__cart-icon {
          bottom: 100%;
        }
      }
    }

    @include lg {
      width: 185px;
    }

    @include md {
      width: 190px;
    }

    @include mobile {
      width: 200px;
    }

    @include xs {
      width: 200px;
    }
  }

  .related-pag {
    margin-top: 40px;

    @include mobile {
      margin-top: 30px;
    }
  }

  .swiper-pagination-bullet {
    margin: 0 8px !important;
  }
}