.card-slider {
  display: flex;
  margin-bottom: 50px;

  &__thumbs {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 20px;
    max-height: 500px;
    user-select: none;

    @include xs {
      flex-direction: row;
      justify-content: start;
      overflow-x: auto;
      //margin-top: 20px;
      padding: 15px 0;
      height: auto;
    }
  }

  &__thumb-wrapper {
    position: relative;
    margin-bottom: 10px;
    width: 85px;
    height: 85px;
    cursor: pointer;

    @include xs {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  &__thumb {
    overflow: hidden;
    border-radius: 10px;
    width: 85px;
    height: 85px;

    img {
      transform: scale(1);
      transition: 0.5s;
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    &--active {
      border: 1px solid var(--color-btn);

      img {
        transform: scale(1.2);
      }
    }

    @include xs {
      flex-shrink: 0;
      margin-bottom: 0 !important;

      &:not(:last-child) {
        margin-right: 5px !important;
      }
    }
  }

  &__main {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 75%;
    height: 500px;
    background-color: white;

    &-img {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 1;
      transform: scale(1);
      transition: opacity 1s, transform 1s;

      &--hidden {
        opacity: 0;
        transform: scale(1.2);
      }

      &--on-left {
        opacity: 0;
        transform: translateX(-50px);
      }
    }

    @include sm {
      height: 500px;
    }

    @include xs {
      margin-left: 0;
      width: 100%;
      height: 310px;
    }
  }

  &__not-sale {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    border: 1px solid var(--error-message);
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    text-shadow: 0 0 55px var(--white-smoke);
    text-transform: uppercase;
    color: var(--error-message);
    background: rgba(0, 0, 0, 0.75);
  }

  @include xs {
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
}