.profile-page {
  &__title {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 50px;

    @include sm {
      padding-top: 50px;
      padding-bottom: 30px;
    }

    @include xs {
      padding-bottom: 20px;
    }
  }
}

.profile-content {
  padding: 80px 60px 50px;

  .tab-content__tab {
    align-items: center;
  }

  .custom-checkbox__text {
    font-size: 13px;

    @include lg {
      font-size: 13px;
    }

    @include xs {
      font-size: 12px;
    }
  }

  @include mobile {
    padding: 80px 50px 50px;
  }

  @include sm {
    padding: 60px 20px 40px;
  }

  @include xs {
    padding: 40px 10px;
  }
}

.profile-navigation {
  padding-top: 0;

  .tab-navigation__list {
    padding-top: 25px;
  }

  .tab-navigation__link {
    font-size: 28px;

    @include sm {
      font-size: 22px;
    }
  }

  [href="/logout"] {
    font-weight: 700;
    font-size: 28px;
    color: var(--third-color);
    transition: 0.3s;

    &:hover {
      color: var(--text-second-color);
    }

    @include sm {
      font-size: 22px;
    }
  }
}

.response-message {
  position: absolute;
  right: 0;
  bottom: -27px;
  width: 100%;
  height: 40px;
  max-height: 100px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: var(--error-message);
  transition: 0.75s;
  pointer-events: none;

  &--success {
    color: var(--text-second-color);
  }

  @include xs {
    font-size: 12px;
  }
}

.prof-messages {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  &__item {
    margin-bottom: 50px;
    border-top: 4px solid var(--color-message-prof);
    width: 70%;
    background-color: rgba(255, 255, 255, 0.55);

    @include lg {
      width: 100%;
    }

    @include xs {
      margin-bottom: 30px;
    }
  }

  &__text {
    padding: 15px 30px;
    line-height: 22px;

    @include xs {
      padding: 15px 10px;
    }
  }

  &__return {
    padding-bottom: 50px;
    width: 300px;
  }

  &__btn {
    display: inline-block;

    &:hover {
      box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
      background-color: transparent;
    }
  }

  @include sm {
    font-size: 15px;
  }

  @include xs {
    font-size: 14px;
  }
}

.order {
  box-shadow: 0 0 11px -3px rgba(143, 143, 143, 0.75);
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  cursor: pointer;

  &[data-status-id="1"] {
    .order__status,
    .order__line-details {
      background: rgba(var(--color-status-processing-na), 0.3);
    }

    .order__line-item {
      background: rgba(var(--color-status-processing-na), 0.5);
    }

    .order__order-details {
      background: rgba(var(--color-status-processing-na), 0.3);
    }

    .order-details__product-item {
      background: rgba(var(--color-status-processing-na), 0.5);

      &:hover {
        background: rgba(var(--color-status-processing-na), 1);
      }
    }

    &:hover {
      box-shadow: 0 0 19px 3px rgba(var(--color-status-processing-na), 1);
    }
  }

  &[data-status-id="2"] {
    .order__status,
    .order__line-details {
      background: rgba(var(--color-status-picking-na), 0.3);
    }

    .order__line-item {
      background: rgba(var(--color-status-picking-na), 0.5);
    }

    .order__order-details {
      background: rgba(var(--color-status-picking-na), 0.3);
    }

    .order-details__product-item {
      background: rgba(var(--color-status-picking-na), 0.5);

      &:hover {
        background: rgba(var(--color-status-picking-na), 1);
      }
    }

    &:hover {
      box-shadow: 0 0 19px 3px rgba(var(--color-status-picking-na), 1);
    }
  }

  &[data-status-id="3"] {
    .order__status,
    .order__line-details {
      background: rgba(var(--color-status-paymenent-na), 0.3);
    }

    .order__line-item {
      background: rgba(var(--color-status-paymenent-na), 0.5);
    }

    .order__order-details {
      background: rgba(var(--color-status-paymenent-na), 0.3);
    }

    .order-details__product-item {
      background: rgba(var(--color-status-paymenent-na), 0.5);

      &:hover {
        background: rgba(var(--color-status-paymenent-na), 1);
      }
    }

    &:hover {
      box-shadow: 0 0 19px 3px rgba(var(--color-status-paymenent-na), 1);
    }
  }

  &[data-status-id="4"] {
    .order__status,
    .order__line-details {
      background: rgba(var(--color-status-delivering-na), 0.3);
    }

    .order__line-item {
      background: rgba(var(--color-status-delivering-na), 0.5);
    }

    .order__order-details {
      background: rgba(var(--color-status-delivering-na), 0.3);
    }

    .order-details__product-item {
      background: rgba(var(--color-status-delivering-na), 0.5);

      &:hover {
        background: rgba(var(--color-status-delivering-na), 1);
      }
    }

    &:hover {
      box-shadow: 0 0 19px 3px rgba(var(--color-status-delivering-na), 1);
    }
  }

  &[data-status-id="5"] {
    .order__status,
    .order__line-details {
      background: rgba(var(--color-status-delivered-na), 0.3);
    }

    .order__line-item {
      background: rgba(var(--color-status-delivered-na), 0.5);
    }

    .order__order-details {
      background: rgba(var(--color-status-delivered-na), 0.3);
    }

    .order-details__product-item {
      background: rgba(var(--color-status-delivered-na), 0.5);

      &:hover {
        background: rgba(var(--color-status-delivered-na), 1);
      }
    }

    &:hover {
      box-shadow: 0 0 19px 3px rgba(var(--color-status-delivered-na), 1);
    }
  }

  &[data-status-id="6"] {
    .order__status,
    .order__line-details {
      background: rgba(var(--color-status-completed-na), 0.3);
    }

    .order__line-item {
      background: rgba(var(--color-status-completed-na), 0.5);
    }

    .order__order-details {
      background: rgba(var(--color-status-completed-na), 0.3);
    }

    .order-details__product-item {
      background: rgba(var(--color-status-completed-na), 0.5);

      &:hover {
        background: rgba(var(--color-status-completed-na), 1);
      }
    }

    &:hover {
      box-shadow: 0 0 19px 3px rgba(var(--color-status-completed-na), 1);
    }
  }

  &[data-status-id="7"] {
    .order__status,
    .order__line-details {
      background: rgba(var(--color-status-canceled-na), 0.3);
    }

    .order__line-item {
      background: rgba(var(--color-status-canceled-na), 0.5);
    }

    .order__order-details {
      background: rgba(var(--color-status-canceled-na), 0.3);
    }

    .order-details__product-item {
      background: rgba(var(--color-status-canceled-na), 0.5);

      &:hover {
        background: rgba(var(--color-status-canceled-na), 1);
      }
    }

    &:hover {
      box-shadow: 0 0 19px 3px rgba(var(--color-status-canceled-na), 1);
    }
  }
}

.order-message,
.order {
  &__status {
    padding: 7px 5px 2px;
    width: 100%;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;

    @include sm {
      font-size: 12px;
    }

    @include xs {
      font-size: 11px;
    }
  }

  &__wrap-details {
    margin-bottom: 50px;
  }

  &__line-details {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    //border-bottom: 1px dashed var(--color-btn);
    padding: 5px;
    font-size: 15px;
    transition: 0.5s;

    @include mobile {
      font-size: 14px;
    }

    @include xs {
      font-size: 13px;
    }
  }

  &__line-item {
    margin: 0 5px;
    padding: 0 5px;
    width: calc(25% - 10px);
    font-weight: 700;
    line-height: 40px;
    text-align: center;

    @include md {
      width: calc(50% - 10px);
    }

    @include xs {
      width: calc(100% - 10px);
    }
  }

  &__order-details {
    overflow: hidden;
    margin-bottom: 30px;
    border-top: none;
    max-height: 1000px;
    transition: ease-in-out 1s;
  }

  &__order-details.is-reduce-mh {
    padding: 0;
  }
}

.order-details__wrap-details {
  overflow-y: auto;
}

.address {
  display: flex;
  flex-direction: column;

  .messages__empty {
    height: auto;
  }

  .response-message {
    bottom: -15px;
    height: 15px;

    @include sm {
      bottom: 0;
    }
  }

  &__data-edit {
    border: 1px solid rgba(var(--color-btn-na), 0.6);
    margin-top: 50px;
    padding: 20px 0;
    width: 90%;
    max-width: 900px;
    text-align: center;
    background: #dff0d8;

    &:hover {
      background: var(--color-message-prof-h);
    }
  }
}

.account {
  flex-flow: row wrap;
  justify-content: center;

  &__edit-block {
    display: flex;
    width: 100%;

    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__data-wrapper {
    width: 100%;
  }

  &__data-edit-wrapper,
  &__pass-edit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  &__data-edit-wrapper {
    width: 60%;

    @include md {
      width: 100%;
    }
  }

  &__pass-edit-wrapper {
    width: 40%;

    @include md {
      margin-top: 10px;
      width: 100%;
    }
  }

  &__data-edit,
  &__pass-edit {
    margin-top: 50px;
    border: 1px solid rgba(var(--color-btn-na), 0.6);
    padding: 20px 0;
    width: calc(90% - 30px);
    max-width: 900px;
    text-align: center;
    background: var(--color-message-prof);

    &:hover {
      background: var(--color-message-prof-h);
    }

    @include sm {
      .custom-checkbox__text {
        font-size: 12px;
      }
    }

    @include xs {
      width: calc(100% - 40px);
    }
  }

  &__pass-edit {
    @include md {
      margin-top: 0;
    }
  }
}

.address-data,
.account-data {
  margin: auto;
  border: 1px solid rgba(var(--color-btn-na), 1);
  padding: 25px 65px 50px;
  width: 600px;
  min-width: 300px;
  background-color: rgba(var(--color-btn-na), 0.3);

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 13px 0;
    font-size: 16px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border: 1px solid var(--color-btn);
      width: 35%;
      height: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border: 1px dashed var(--color-btn);
      width: 65%;
      height: 1px;
    }

    @include sm {
      padding: 10px 0;
      font-size: 15px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__label {
    width: 35%;
  }

  &__info {
    width: 65%;
    font-weight: 700;
    text-align: right;
  }

  &__data-edit {
    margin-bottom: 30px;
  }

  @include sm {
    padding: 20px 30px 40px;
    width: 500px;
  }

  @include xs {
    border: none;
    padding: 0 15px 20px;
    width: 300px;
  }
}

.address-form,
.account-form {
  position: relative;
  padding: 0 20px;
  width: 90%;
  height: 375px;
  max-width: 900px;
  transition: all 0.7s;

  &__label {
    width: 210px;

    @include sm {
      width: 160px;
    }

    @include xs {
      width: 80px;
    }
  }

  &__field {
    width: 70%;

    @include mobile {
      width: 65%;
    }
  }

  &__edit-btn {
    margin-top: 30px;
  }

  &.is-reduce {
    transition: opacity 0.3s, height 0.7s;
  }

  @include xs {
    width: 100%;
  }
}

.account-form {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__label {
    width: 150px;
  }

  &__edit-btn {
    align-self: center;
  }

  .account-form__input.form-field {
    @include xs {
      width: 100%;
    }
  }
}

.form__edit-password {
  transition: 0.7s;

  .form__item {
    margin-bottom: 0;
  }

  .form__label {
    width: 300px;

    @include xs {
      width: 175px;
    }
  }

  .form-field {
    width: 85%;
  }

  .response-message {
    bottom: 33px;

    @include md {
      bottom: -5px;
    }

    @include sm {
      bottom: 0px;
    }
  }

  @include md {
    height: 330px;
  }
}

.form__edit-data-acc {
  transition: 0.7s;

  .form__label {
    @include xs {
      width: 140px;
    }
  }

  .response-message {
    @include md {
      bottom: -24px;
    }

    @include sm {
      bottom: -15px;
    }
  }

  @include md {
    padding: 0 20px 30px;
  }
}