.nav-modal {
  position: fixed;
  left: -75%;
  top: 0;
  width: 75%;
  height: 100vh;
  //background-color: var(--bg-main-color);
  background-image: url("../img/nav-window/modal-nav__bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: left var(--delay-modal-off);

  .social {
    justify-content: center;
    margin-bottom: 20px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .hero__to-shop {
    margin: auto;
    padding: 5px 20px;
    font-size: 16px;
    letter-spacing: 7px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 110px;
    height: 100%;
  }

  &__top {
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  &__close {
    position: relative;
    padding: 12px 0;
    height: 60px;

    &-icon {
      left: 30px;
      bottom: 15px;
      width: 15px;
      height: 15px;
    }

    &:hover {
      .nav-modal__close-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 20px 10%;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px dashed var(--color-btn);
    padding: 15px 0;
    width: 100%;
  }

  &__copyright {
    font-size: 13px;
  }

  &__cart {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 170px;
      top: 10px;
      width: 30px;
      height: 30px;
      background-image: url("../img/nav-window/modal-nav__cart-icon.png");
      background-size: cover;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  &.nav-modal--visible {
    left: 0;
    transition: left var(--delay-modal-on);
  }
}