.image-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform var(--delay-modal-off);

  &__distinct-window {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 111;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding: 40px 20px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: rgba(var(--color-tundora-na), 0.75);
    opacity: 0;
    transition: 0.1s;
    transition-delay: 0s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--color-tundora-na), 0.3);
      transition: 0.3s;
    }

    &:hover {
      &::before {
        background-color: transparent;
      }
    }

    @include sm {
      padding: 30px 10px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    height: 95%;
  }

  &__wrap-img {

  }

  &__img {
    height: 100%;
    object-fit: contain;
  }

  &.image-modal--visible {
    z-index: 111;
    transform: scale(1);
    transition: transform var(--delay-modal-on);

    .image-modal__wrap-img {

    }

    .image-modal__distinct-window {
      opacity: 1;
      transition: 3s;
      transition-delay: 0.75s;
    }
  }

  @include sm {
    padding: 10px;
  }
}

