.authorization-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  visibility: hidden;

  input::placeholder {
    color: var(--third-color);
  }

  .callback-message {
    padding: 0 50px;

    &__paragraph {
      font-weight: 500;
      font-size: 17px;
    }

    &__timer {
      font-weight: 700;
      font-size: 24px;
    }

    &--error {
      color: var(--error-message);
    }

    @include sm {
      padding: 0 25px;
    }
  }

  .form-field {
    height: 45px;

    @include xs-rotate {
      margin-top: 3px;
    }
  }

  &__close {
    &-icon {
      right: -25px;
      top: 0;
      width: 16px;
      height: 16px;
      fill: var(--dark-gray);

      @include xs-rotate {
        right: 47%;
        top: -7%;
      }
    }
  }

  &__into-wrapper {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    width: 450px;
    height: 420px;
    background: center / cover no-repeat url("../img/auth-window/leaf-maple.png");
    background-color: var(--bg-main-color);
    opacity: 0;
    transform: scale(0);
    transition: all var(--delay-modal-off);

    @include xs {
      margin-top: 5vh;
      margin-bottom: 0;
      width: 98%;
    }

    @include xs-rotate {
      margin-top: 5vh;
      margin-bottom: 0;
      height: 90vh;
    }
  }

  &__content-wrapper {
    width: 100%;
    height: 100%;
    transition: 0.5s;

    &--hidden {
      opacity: 0 !important;
    }
  }

  &__top {
    padding-bottom: 20px;
    width: 100%;

    @include xs-rotate {
      padding-bottom: 5px;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__tab-block {
    position: absolute;
    right: calc((450px - 370px) / 2);
    top: 0;
    margin-top: 15px;
    width: 370px;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;

    &.authorization-modal__tab-block--fade {
      right: -300px;
      opacity: 0;
      visibility: hidden;
    }

    @include xs {
      right: 5%;
      width: 90%;
    }
  }

  &__tab {
    display: inline-block;
    float: left;
    border-bottom: 2px solid transparent;
    width: 50%;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-gray);
    transition: border-color 0.3s, color 0.3s;

    &:hover {
      border-color: var(--color-dark);
      font-weight: 700;
      color: var(--color-dark);
    }

    &--active {
      border-color: var(--color-dark);
      font-weight: 700;
      color: var(--color-dark);
    }

    @include xs {
      line-height: 48px;
    }

    @include xs-rotate {
      line-height: 45px;
    }
  }

  &.authorization-modal--visible {
    display: flex;
    visibility: visible;

    .authorization-modal__into-wrapper {
      opacity: 1;
      transform: scale(1);
      transition: all var(--delay-modal-on);
    }
  }
}

.login-block {
  &__form {
    margin-bottom: 10px;

    @include xs-rotate {
      margin-bottom: 5px;
    }
  }

  &__remember-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;

    @include xs-rotate {
      padding: 20px 0;
    }
  }

  &__remember-label {
    padding-top: 3px;
    font-size: 14px;
    cursor: pointer;
  }

  &__remember-checkbox {
    display: none;

    &:checked + span::after {
      content: "";
      position: absolute;
      left: 1px;
      top: -6px;
      width: 22px;
      height: 22px;
      background: url("../img/checkbox-flag.png");
      background-size: cover;
    }
  }

  &__remember-text {
    position: relative;
    user-select: none;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 3px;
      margin-bottom: -3px;
      border: 2px solid #151515;
      width: 15px;
      height: 15px;
      background: inherit;
    }
  }

  &__lost {
    padding: 4px 0 0;
    font-size: 14px;
    transition: 0.4s;

    &::before {
      bottom: -1px;
    }
  }

  &__submit,
  &__create-acc {
    font-size: 12px;

    @include xs {
      height: 45px;
      line-height: 45px;
    }

    @include xs-rotate {
      height: 38px;
      line-height: 38px;
    }
  }

  &__create-acc {
    border: 1px solid var(--text-second-color);
  }
}

.auth-message {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 10px;
  border: 1px dashed;
  padding: 10px 35px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: var(--error-message);
  background: var(--error-bg-message);
  transform: translateY(50px);
  transition: 0.5s;

  &--success {
    color: var(--text-second-color);
  }

  &--show {
    transform: translateY(0);
  }

  &__btn-wrap {
    position: relative;
  }

  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;

    &-icon {
      width: 11px;
      height: 11px;
      fill: var(--color-light-tundora);
      transition: fill 0.3s;

      &:hover {
        fill: var(--color-dark);
      }
    }
  }
}

.reg-block {
  &__form {
    margin-bottom: 10px;

    @include xs-rotate {
      margin-bottom: 5px;
    }
  }

  &__policy {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;

    p {
      margin: 13px 0;

      @include xs-rotate {
        margin: 5px 0;
      }
    }
  }

  &__policy-ref {
    font-weight: 700;
    font-size: 14px;

    &::before {
      bottom: 1px;
    }
  }

  &__submit,
  &__have-acc {
    font-size: 12px;

    @include xs {
      height: 45px;
      line-height: 45px;
    }

    @include xs-rotate {
      height: 38px;
      line-height: 38px;
    }
  }
}

.recover-block {
  &__about-text {
    font-size: 14px;
    line-height: 18px;

    p {
      margin: 30px 0;
    }
  }
}