.cart-modal {
  position: fixed;
  right: -460px;
  top: 0;
  flex-direction: column;
  width: 460px;
  transition: right var(--delay-modal-off);

  &__empty {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s;

    &--visible {
      z-index: 100;
      z-index: 100;
      opacity: 1;
      transform: scale(1);
    }
  }

  &__empty-img {
    padding-bottom: 20px;
    width: 100%;
    fill: var(--text-second-color);

    @include sm {
      width: 38%;
    }
  }

  &__empty-text {
    display: block;
    color: var(--color-tundora);
  }

  &__content {
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 30px;
    height: 100vh;
    background-image: url("../img/cart-window/bg__modal-cart.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__top {
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed var(--quill-gray);
    padding: 10px 0;
    width: 90%;
    height: 45px;
    font-size: 15px;

    @include sm {
      height: 35px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-second-color);
  }

  &__title-quantity {
    margin: 0 10px;
    font-weight: 700;
    color: var(--color-tundora);
  }

  &__close {
    position: relative;
    padding-right: 20px;
    color: var(--color-light-tundora);
    transition: color 0.3s;

    &-icon {
      right: 5px;
      top: -7px;
      width: 13px;
      height: 13px;
    }
  }

  &__list {
    overflow-y: auto;
    margin-top: 55px;
    margin-bottom: 230px;
    border-radius: 10px;
    min-height: 130px;
    max-height: 90%;
    background-color: #fff;

    @include sm {
      margin-top: 45px;
    }

    @include xs-rotate {
      margin-bottom: 220px;
    }

    @include xs {
      margin-bottom: 200px;
    }
  }

  &__product-wrapper {
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 75%;
        height: 1px;
        background-color: var(--bg-main-color);
      }
    }

    &--remove {
      &.cart-modal__product-wrapper::after {
        display: none;
      }
    }
  }

  &__product {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 10px;
    height: 130px;
    transition: all var(--delay-remove-product);

    &:hover {
      img {
        transform: scale(1.25);
      }

      .cart-modal__product-name a {
        opacity: 1;
      }
    }

    &-media {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 100px;
      transition: opacity 0.5s;

      img {
        width: 100px;
        object-fit: cover;
        transition: transform 0.5s;

        @include md {
          max-width: 90px;
        }

        @include sm {
          max-width: 70px;
        }

        @include xs {
          max-width: 60px;
        }
      }
    }

    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 40px;
      padding-left: 10px;
      width: 75%;
      height: 100%;
      transition: opacity 0.5s;
    }

    &-name {
      display: block;
      overflow: auto;
      margin: 0 0 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;

      a {
        color: var(--text-second-color);
        opacity: 0.7;
        transition: 0.4s;
      }

      @include md {
        font-size: 13px;
      }

      @include sm {
        font-size: 11px;
        line-height: 16px;
      }

      @include xs {
        font-size: 10px;
        line-height: 14px;
      }
    }

    &-quantity {
      display: block;
      font-weight: 700;
      font-size: 10px;
      text-transform: uppercase;
      color: var(--color-light-tundora);
      transition: 0.4s;

      @include xs {
        font-size: 8px;
      }
    }

    &-cost {
      display: inline-block;
      padding-top: 10px;
      font-weight: 700;
      font-size: 15px;
      color: var(--color-tundora);

      @include sm {
        font-size: 13px;
      }

      @include xs {
        padding-top: 5px;
        font-size: 11px;
      }
    }

    &-cu {
      font-weight: 700;
      font-size: 15px;
      color: var(--color-tundora);

      @include sm {
        font-size: 13px;
      }

      @include xs {
        font-size: 11px;
      }
    }

    &-btn-remove {
      position: absolute;
      right: 15px;
      top: 15px;
      border: 2px solid var(--quill-gray);
      border-radius: 50%;
      width: 18px;
      height: 18px;
      transition: border-color 0.5s;

      .cart-modal__remove-icon {
        position: absolute;
        right: 4px;
        bottom: 4px;
        width: 6px;
        height: 6px;
        fill: var(--color-gray);
        transition: fill 0.5s;
      }

      &:hover {
        border-color: var(--color-dark);

        .cart-modal__remove-icon {
          fill: var(--color-dark);
        }
      }
    }

    &--remove {
      margin-bottom: 0;
      padding: 0;
      height: 0 !important;
      opacity: 0;
      transform: scale(0.9);
    }

    &--remove-hover {
      opacity: 0.4;
    }

    @include md {
      //height: 120px;
    }

    @include sm {
      height: 115px;
    }

    @include xs {
      height: 105px;
    }
  }

  &__bottom {
    position: absolute;
    left: 10%;
    bottom: 110px;
    width: 80%;
    height: 115px;
    opacity: 1;
    transition: all 0.5s;

    @include xs {
      bottom: 85px;
      height: 105px;
    }

    @include xs-rotate {
      bottom: 45px;
    }
  }

  &__total-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;

    @include xs {
      line-height: 50px;
    }
  }

  &__total {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-tundora);

    @include xs {
      font-size: 11px;
    }
  }

  &__counter-wrap {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-tundora);

    @include xs {
      font-size: 22px;
    }
  }

  &__order-btn,
  &__view-btn {
    display: block;
    width: 100%;
    height: 55px;
    font-size: 13px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-second-color);
    background-color: var(--color-btn);
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
      background-color: transparent;
    }

    @include xs {
      height: 50px;
    }
  }

  &__view-btn {
    color: var(--color-tundora);
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  &__ad {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 45px;
    background-color: var(--color-btn);
    opacity: 1;
    transition: all 0.5s;

    @include xs {
      height: 40px;
    }

    @include xs-rotate {
      display: none;
    }
  }

  &__ad-text {
    display: block;
    padding: 5px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: var(--text-second-color);

    @include xs {
      max-height: 36px;
      font-size: 11px;
      line-height: 13px;
    }
  }

  &.cart-modal--visible {
    right: 0;
    display: flex;
    transition: right var(--delay-modal-on);
  }

  @include md {
    right: -420px;
    width: 420px;
  }

  @include sm {
    right: -380px;
    width: 380px;
  }

  @include xs {
    right: -320px;
    width: 320px;
  }
}