.catalog-filters {
  padding-top: 27px;
  padding-right: 40px;
  width: 300px;
  transition: var(--delay-modal-on);

  @include md {
    width: 50%;
  }

  @include sm {
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 30;
    border-radius: 10px;
    padding: 0 40px 20px;
    width: 80%;
    box-shadow: 0 0 20px -4px var(--text-second-color);
    background: fixed center / cover no-repeat var(--bg-image-main);
    transform: translateX(-110%);
  }

  @include xs {
    padding: 0 15px 20px;
  }
}

.catalog-filters--open {
  transform: translateX(0);
}

.catalog-mobile-filters {
  display: none;

  svg {
    fill: var(--text-second-color);
  }

  @include sm {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }

  @include xs {
    min-width: 85px;
  }
}

.hide-filters {
  position: relative;
  margin-bottom: 18px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  &__close-icon {
    position: absolute;
    left: 5px;
    bottom: -1px;
    width: 13px;
    height: 13px;
    fill: var(--color-dark);
  }
}

.catalog-filter {
  position: sticky;
  top: 100px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    user-select: none;

    @include sm {
      padding-top: 15px;
      padding-bottom: 20px;
    }
  }

  &__caption {
    display: flex;
    align-items: center;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__quantity {
    margin-left: 5px;
    min-width: 16px;
    transform: translateY(-1px);
  }

  &__bottom {
    box-sizing: border-box;
  }

  &__items {
    padding-bottom: 24px;
    height: 0;
    transition: 0.75s;

    @include sm {
      border-radius: 10px;
      padding: 20px 30px;
      background: rgba(255, 255, 255, 0.5);
    }

    @include xs {
      padding: 20px 27px;
      padding-right: 15px;
    }
  }

  &__item {
    margin-bottom: 14px;
    opacity: 0;
    transform: scale(0.75);
    transition: transform var(--delay-transform-goods), opacity var(--delay-opacity-goods);

    &.catalog-filter__all {
      margin-bottom: 25px;
    }
  }
}

.custom-checkbox {
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--third-color);
    transition: color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      border: 2px solid var(--third-color);
      width: 11px;
      height: 11px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -6px;
      display: none;
      width: 19px;
      height: 19px;
      color: #aaa;
      background: url("../img/checkbox-flag.png") 0 0/cover;
    }

    @include lg {
      font-size: 11px;
    }

    @include md {
      font-size: 12px;
    }
  }

  &__input {
    &:checked + span {
      text-shadow: 0 0 1px var(--third-color);
      color: var(--text-second-color);

      &::before {
        border-color: var(--text-second-color);
      }

      &::after {
        display: block;
        text-shadow: 0 0 1px var(--third-color);
        color: var(--text-second-color);
      }
    }
  }

  &:hover {
    .custom-checkbox__text {
      color: var(--text-second-color);
      transition: all 0.3s;
    }
  }

  &--active .custom-checkbox {
    transform: translateX(-20px);
  }
}

.catalog-choice {
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.5s, max-height 0.5s;

  &__item {
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 5px 0;
    max-width: 0;
    font-size: 13px;
    white-space: nowrap;
    color: var(--text-second-color);
    background-color: #a0deb4;
    transition: background-color 0.5s, color 0.5s, max-width 0.5s, padding 0.5s, margin 0.5s;

    svg {
      margin-left: 5px;
      width: 8px;
      height: 9px;
      fill: currentColor;
      pointer-events: none;
    }

    &:hover,
    &--hover {
      color: var(--color-tundora);
      background-color: #c8ceca;
      transition: background-color 0.3s, color 0.3s, max-width 0.5s, padding 0.5s;
    }

    &--is-visible {
      margin-right: 5px;
      padding: 5px 12px;
      max-width: 205px;
    }
  }

  &__clear {
    position: relative;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-tundora);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      opacity: 1;
      transition: opacity 0.15s;
    }
  }

  &--is-visible {
    max-height: 100px;
    opacity: 1;

    @include sm {
      max-height: 300px;
    }
  }
}