.catalog-content {
  position: relative;
  min-height: 500px;

  .container {
    display: flex;

    @include xs {
      padding: 0 10px;
    }
  }

  .custom-pagination {
    margin-bottom: 100px;

    @include md {
      margin-bottom: 70px;
    }
  }
}