.shopping {
  &__content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__messages {
    margin-bottom: 30px;
  }

  &__form {
    margin-right: 50px;
    width: 65%;

    @include md {
      margin-right: 0;
      margin-bottom: 30px;
      width: 90%;
    }

    @include xs {
      margin-bottom: 0;
      width: 95%;
    }
  }
}

.shopping-form {
  overflow: hidden;

  &__headers {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(var(--text-second-color-na), 0.3);
  }

  &__cart-list {
    transition: height 0.5s;
  }

  &__cart-item {
    height: 177px;
    line-height: 20px;
    text-transform: uppercase;

    img {
      transition: transform 0.3s;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &__thead {
    padding: 10px 0;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
  }

  &__thumbnail {
    width: 125px;
    text-align: left;

    @include sm {
      width: 100px;
    }
  }

  &__name {
    width: 40%;
  }

  &__price {
    width: 20%;
  }

  &__quantity {
    width: 15%;

    @include xs {
      visibility: hidden;
    }
  }

  &__subtotal {
    width: 20%;

    @include xs {
      display: none;
    }
  }

  &__remove {
    width: 5%;

    @include sm {
      display: none;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: 30px 13px;

    @include mobile {
      flex-direction: column;
    }
  }

  .coupon__message {
    margin-top: 15px;
    font-size: 14px;
    color: var(--error-message);
    transition: opacity 0.5s, height 0.5s;
  }

  &__continue {
    margin-right: 10px;
    width: 300px;
    height: 100%;
    transition: all 0.3s;

    &-btn {
      display: block;
      background-color: transparent;

      &:hover {
        box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
      }
    }

    &:hover {
      border-color: #fff;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 1px solid rgba(var(--text-second-color-na), 0.2);
  opacity: 0;
  transform: scale(0.85);
  transition: transform var(--delay-transform-goods), opacity var(--delay-opacity-goods), height 0.5s;

  &__image-wrapper {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    width: 105px;
    height: 105px;
    max-width: 125px;

    img {
      @include mobile {
        transform: scale(1.2);
      }
    }

    @include sm {
      width: 100px;
      height: 100px;
    }

    @include xs {
      width: 50px;
      height: 50px;
    }
  }

  &__thumbnail,
  &__name,
  &__price,
  &__quantity,
  &__subtotal,
  &__remove {
    padding: 20px 0;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    transition: opacity 0.5s, transform 0.5s;

    @include sm {
      font-size: 13px;
    }

    @include xs {
      font-size: 12px;
    }
  }

  &__thumbnail {
    position: relative;
    width: 125px;

    @include sm {
      width: 100px;
    }

    @include xs {
      width: 50px;
    }
  }

  &__name {
    padding-right: 20px;
    padding-left: 20px;
    width: 40%;

    &-ref {
      opacity: 1;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    @include sm {
      padding-right: 10px;
      padding-left: 10px;
    }

    @include xs {
      padding-right: 5px;
      padding-left: 5px;
      width: 45%;
      text-align: left;
    }
  }

  &__price {
    width: 20%;

    @include mobile {
      font-size: 13px;
    }
  }

  &__amount {
    white-space: nowrap;
  }

  &__quantity {
    width: 15%;
  }

  &__subtotal {
    width: 20%;

    @include mobile {
      font-size: 13px;
    }

    @include xs {
      display: none;
    }
  }

  &__items-sum {
    white-space: nowrap;
  }

  &__remove {
    width: 5%;
    text-align: right;

    &-btn {
      padding-top: 2px;

      &:hover {
        .cart-item__remove-icon {
          fill: var(--color-dark);
          transform: rotate(180deg);
        }
      }
    }

    &-icon {
      width: 14px;
      height: 14px;
      fill: var(--color-gray);
      transition: 0.5s;
    }

    @include sm {
      display: none;
    }
  }

  &__remove--mobile {
    position: absolute;
    left: 0;
    bottom: 45%;
    z-index: 10;
    display: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--color-dark);

    .cart-item__remove-icon {
      padding-top: 2px;
      width: 11px;
      height: 11px;
      fill: var(--color-white);
      transition: fill 0.3s;
    }

    @include sm {
      display: block;
    }
  }

  &__stepper {
    height: 40px;

    .stepper__input {
      width: 40px;

      @include xs {
        width: 25px;
      }
    }

    .stepper__btn {
      width: 40px;

      @include xs {
        width: 25px;
      }
    }

    @include sm {
      flex-direction: column;
      margin: auto;
      width: 42px;
      height: 100px;
    }

    @include xs {
      width: 27px;
    }
  }

  &--remove-hover {
    opacity: 0.5;
  }
}