.checkout {
  .messages__coupon {
    border: 1px solid var(--bg-main-color);
    box-shadow: none;
    color: var(--color-tundora);
    background-color: transparent;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
    }
  }

  &__content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: 1s;

    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__messages {
    margin-bottom: 30px;
  }

  &__form-wrapper {
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;

    @include md {
      position: static;
      margin-bottom: 40px;
      width: 90%;
    }

    @include sm {
      width: 90%;
    }
  }

  &__form-wrapper-auth {
    margin-top: 20px;
    width: 100%;
  }

  &__data-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 15px;
    border-bottom: 1px dashed rgba(var(--color-btn-na), 1);
    padding-bottom: 15px;
    width: 100%;

    .account-data,
    .address-data {
      margin: unset;
      padding: 5px 25px 30px;
      width: 49%;
      background-color: rgba(var(--color-btn-na), 0.3);
    }

    .account-data__item,
    .address-data__item {
      padding: 7px 0;
      font-size: 14px;

      &::before,
      &::after {
        width: 50%;
      }
    }

    .account-data__label,
    .address-data__label {
      width: 50%;
    }

    @include sm {
      flex-direction: column;
      align-items: center;

      .account-data,
      .address-data {
        width: 100%;
      }
    }
  }

  &__form-coupon {
    margin-bottom: 30px;
    border-bottom: 1px dashed var(--bg-main-color);

    @include md {
      margin-bottom: 0;
    }
  }

  &__form-login {
    width: 50%;
  }

  &__form {
    overflow: hidden;
    max-height: 800px;

    @include md {
      margin-right: 0;
      width: 90%;
    }

    @include xs {
      margin-bottom: 20px;
      width: 95%;
    }
  }

  &__data-edit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    text-align: center;
  }

  &__data-edit {
    display: inline-block;
    overflow: hidden;
    max-height: 50px;
    text-align: center;
    transition: 0.5s;

    @include sm {
      font-size: 15px;
    }
  }

  &__check.check {
    position: relative;
    top: 0;
    width: 40%;

    .check__line {
      padding: 15px 0;
    }

    .check__list-item {
      margin-bottom: 5px;
      min-height: 40px;
      line-height: 20px;

      &:not(:last-child) {
        border-bottom: 1px dashed var(--quill-gray);
      }
    }

    .check__shipping {
      overflow: hidden;
      max-height: 40px;
      box-sizing: content-box;
      opacity: 1;
      transition: 1s;

      &.is-reduce-mh {
        transition: opacity 0.5s, max-height 1s;
      }
    }

    .check__subtotal-wrap,
    .check__shipping-sum {
      padding-left: 10px;
      width: auto;
      text-align: unset;
    }

    .delivery__about {
      text-align: justify;

      @include xs {
        line-height: 20px;
      }
    }

    @include md {
      width: 80%;
    }

    @include mobile {
      width: 65%;
    }

    @include sm {
      width: 90%;
    }

    @include xs {
      padding: 15px 10px;
      width: 95%;
    }
  }
}

.checkout-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 15px 40px;
  max-width: 690px;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 28px;
    color: var(--third-color);
  }

  &__list {
    list-style-image: url("../img/is-ok.png");
    font-size: 17px;
    line-height: 24px;
    color: var(--third-color);
  }

  &__item {
    padding-left: 10px;
  }
}

.form-coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 50%;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.6s ease-out, opacity 2.2s ease;

  &__description {
    margin: 10px 0 25px;
    padding: 0 40px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    text-transform: none;
    color: var(--color-tundora);

    @include sm {
      margin: 10px 0 0;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__coupon {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 100%;

    .coupon__text {
      width: 60%;

      @include sm {
        width: 100%;
      }
    }

    .coupon__apply-btn {
      width: 40%;

      @include sm {
        width: 98%;
      }
    }

    @include sm {
      flex-direction: column;
    }
  }

  &--visible {
    max-height: 230px;
    opacity: 1;
  }

  @include mobile {
    width: 70%;
  }

  @include xs {
    width: 100%;
  }
}

.checkout-form {
  position: relative;
  width: 100%;
  max-height: 0;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.75s;

  .form__item {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__title {
    text-transform: uppercase;

    @include xs {
      margin-top: 0;
      line-height: 26px;
      text-align: center;
    }
  }

  &__label {
    width: 190px;

    @include sm {
      width: 150px;
    }

    @include xs {
      width: 100px;
    }
  }

  &__input {
    width: calc(100% - 190px);

    @include sm {
      width: calc(100% - 150px);
    }

    @include xs {
      width: calc(100% - 100px);
    }
  }

  &__edit-btn {
    margin-top: 30px;
  }

  &--active {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
  }

  //@include mobile {
  //  width: 650px;
  //}
  //
  //@include sm {
  //  width: 500px;
  //}
  //
  //@include xs {
  //  width: 300px;
  //}
}

.delivery {
  list-style: none;
  padding: 20px;
  font-size: 15px;
  line-height: 28px;
  background-color: var(--color-white);

  &__item {
    margin-bottom: 20px;
    font-size: 14px;

    &:hover {
      .custom-checkbox__text {
        color: var(--text-second-color);
      }

      .custom-checkbox__text::before {
        border-color: var(--text-second-color);
      }
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__about {
    display: block;
    font-size: 15px;
    line-height: 22px;

    @include xs {
      margin: 7px 0;
    }
  }

  input {
    &:checked + span {
      color: var(--text-second-color);

      &::before {
        background-color: var(--text-second-color);
      }

      &::after {
        display: none;
      }
    }
  }

  .custom-checkbox__text {
    padding-left: 20px;
    font-size: 15px;

    &::before {
      top: 5px;
      border-radius: 50%;
      width: 11px;
      height: 11px;
      transition: 0.3s;
    }
  }
}

.order-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transition: 1s;

  &__text {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;

    @include mobile {
      font-size: 18px;
    }

    @include sm {
      width: 80%;
    }
  }

  &__wrap-details {
    width: 100%;
  }

  &__text-heart {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    transform: rotate(0);
    animation: heartbeat 2s infinite;
  }

  &__line-details {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    padding: 5px;
    font-size: 15px;
    background: rgba(var(--color-btn-na), 0.5);

    @include mobile {
      font-size: 14px;
    }

    @include xs {
      font-size: 13px;
    }
  }

  &__line-item {
    margin: 5px;
    padding: 0 5px;
    width: calc(25% - 10px);
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    background: rgba(var(--color-btn-na), 1);

    @include md {
      width: calc(50% - 10px);
    }

    @include xs {
      width: calc(100% - 10px);
    }
  }

  &__item-title {
    font-weight: 400;
  }
}

.order-details {
  border-top: 1px dashed var(--color-btn);
  padding: 10px 30px 30px;
  font-size: 15px;
  background: rgba(var(--color-btn-na), 0.5);

  &__title {
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
    text-transform: uppercase;

    @include mobile {
      font-size: 16px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__sub-title {
    width: 170px;
    font-weight: 400;
    font-size: 18px;

    @include mobile {
      font-size: 16px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__product-list {
    overflow-y: auto;
    margin: 15px 30px 0;
    max-height: 500px;

    @include sm {
      margin: 10px 15px 0;
    }

    @include xs {
      margin: 10px 0 0;
    }
  }

  &__product-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 7px 10px;
    background: rgba(var(--color-btn-na), 0.65);
    transition: 0.4s;

    &:hover {
      background: rgba(var(--color-btn-na), 1);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__product-name {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    @include mobile {
      font-size: 12px;
    }

    @include xs {
      font-size: 11px;
      line-height: 16px;
    }
  }

  &__product-quantity {
    padding: 0 10px;
    width: 60px;
    text-align: center;
  }

  &__product-price {
    width: 115px;
    text-align: right;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;

    @include sm {
      margin-right: 15px;
    }

    @include xs {
      margin-right: 5px;
    }
  }

  &__sum-wrap {
    border-bottom: 1px dashed var(--color-btn);
    padding: 10px 0;
    width: 100%;
    font-weight: 700;
    text-align: end;
  }

  &__total-sum {
    display: flex;
    justify-content: flex-end;
  }

  @include mobile {
    font-size: 14px;
  }

  @include sm {
    padding: 10px 10px 20px;
  }

  @include xs {
    font-size: 13px;
  }
}