.tracking {
  max-width: 720px;

  &__description {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }

  &__fields {
    padding: 30px 80px;

    @include sm {
      padding: 10px 80px;
    }

    @include xs {
      padding: 0 40px;
    }
  }

  &__order-id,
  &__email {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 52px;
  }

  &__submit {
    padding: 0 20px;
    width: 100%;
    height: 54px;
    font-size: 10px;
    line-height: 54px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}