// COLORS
:root {
  --text-main-color: #2fe92f;
  --text-second-color: #008000;
  --text-second-color-na: 0, 128, 0;
  --bg-main-color: #d3e0d5;
  --bg-main-color-na: 211, 224, 213;
  --bg-second-color: #fff;
  --second-color: #a9f16c;
  --third-color: #61b17a;
  --color-btn: #97c4a5;
  --color-btn-na: 151, 196, 165;
  --color-black: #000;
  --color-white: #fff;
  --white-smoke: #f5f5f5;
  --color-dark: #151515;
  --quill-gray: #e5e5e5;
  --color-gray: #858585;
  --color-light-tundora: #4a4c4b;
  --color-tundora: #454545;
  --color-tundora-na: 69, 69, 69;
  --dark-gray: #cdcbcb;
  --color-message-prof: #dff0d8;            // цвет сообщения в профиле пользователя
  --color-message-prof-h: #c2e3b5;
  --color-message-prof-bg: #fafafa;
  --error-message: #ec1327;                 // цвет ошибки
  --error-message-na: 236, 19, 39;
  --error-bg-message: #faebd7;
  --color-status-processing: #f3d4ab;            // цвет статуса "обработка"
  --color-status-processing-na: 243, 212, 171;
  --color-status-picking: #a6dbd8;              // цвет статуса "комплектуется"
  --color-status-picking-na: 166, 219, 216;
  --color-status-paymenent: #f9d1d1;            // цвет статуса "ожидание оплаты"
  --color-status-paymenent-na: 249, 209, 209;
  --color-status-delivering: #9bcee5;           // цвет статуса "доставка"
  --color-status-delivering-na: 155, 206, 229;
  --color-status-delivered: #b1acdf;            // цвет статуса "доставлен"
  --color-status-delivered-na: 177, 172, 223;
  --color-status-completed: #97c4a5;            // цвет статуса "завершен"
  --color-status-completed-na: 151, 196, 165;
  --color-status-canceled: #b9b9b9;             // цвет статуса "отменен"
  --color-status-canceled-na: 185, 185, 185;
  --color-policy-bg-na: 109, 139, 138;          // #6d8b8a цвет фона окна policy для регулировки прозрачности
  --color-policy-bgwrap-na: 184, 209, 199;  // #b8d1c7 цвет фона враппера текста окна policy для регулировки прозрачности
  --delay-opacity-goods: 0.5s;          // задержка анимации на появление и удаление товаров
  --delay-transform-goods: 1s;          // задержка анимации на появление и удаление товаров
  --delay-modal-on: 0.5s;               // задержка анимации на открытие модальных окон
  --delay-modal-off: 0.3s;              // задержка анимации на закрытие модальных окон
  --delay-overlay: 0.3s;                // задержка анимации на закрытие оверлея окна
  --delay-remove-product: 0.5s;         // задержка анимации на удаление товаров из корзин
  --bg-image-main: url("../img/main__bg.jpg");
}
